<nav>
  <a href="/"><h4>News your Own Adventure</h4></a>
  <p>Personalized and Saveable News</p>
  <ul>
    <% if (currentUser) { %>
      <li><a href="/users/logout">Log Out</a></li>
    <% } else { %>
      <li><a href="/users/sign_up">Sign Up</a></li>
      <li><a href="/users/sign_in">Sign In</a></li>
    <% } %>
  </ul>
</nav>
