<nav>
  <a href="/">
    <h3 class="header-title">News your Own Adventure | Personalized and Saveable News</h3>
  </a>
  <ul>
    <% if (currentUser) { %>
      <li><a href="/users/logout">Log Out</a></li>
    <% } else { %>
      <li><a href="/users/sign_up">Sign Up</a></li>
      <li><a href="/users/sign_in">Sign In</a></li>
    <% } %>
  </ul>
</nav>
