<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>News Your Own Adventure</title>
  </head>
  <body>
    <h1>News Your Own Adventure - Customizable and Savable News</h1>
  </body>
</html>
