<!DOCTYPE html>
<html>
  <head>
    <% include ./static/partials/head.ejs %>
    <title>News Your Own Adventure</title>
  </head>
  <body>
    <% include ./static/partials/navbar.ejs %>
    <% include ./static/partials/messages.ejs %>
    <main>
      <h1>News Your Own Adventure - Personalized and Saveable News</h1>
    </main>

  </body>
</html>
