<!DOCTYPE html>
<html>
  <head>
    <% include ./static/partials/head.ejs %>
    <title>News Your Own Adventure</title>
  </head>
  <body>
    <% include ./static/partials/navbar.ejs %>
    <h1>News Your Own Adventure - Personalized and Savable News</h1>
  </body>
</html>
